.app-container {
  min-height: 100vh;
  width: 100vw;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header {
  margin-top: 3rem;
  text-align: center;
  color: #ffffff;
}

.app-footer {
  margin-top: auto;
  padding: 2rem;
  color: #7f8c8d;
  font-size: 0.8rem;
}
.full-screen-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Takes up most of the viewport */
  width: 100%;
}

.selection-screen {
  text-align: center;
  animation: fadeIn 0.5s ease;
}

.choice-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.choice-card {
  background: #0772d6;
  padding: 3rem;
  border-radius: 15px;
  cursor: pointer;
  transition:
    transform 0.2s,
    background 0.2s;
  border: 2px solid transparent;
  width: 250px;
}
.choice-header {
  font-size: 1.5rem;
  color: #000000;
}

.choice-card:hover {
  transform: translateY(-10px);
  background: #3d3d3d;
  border-color: #3498db;
}

.back-btn {
  background: none;
  border: 1px solid #f2faff;
  color: #f2faff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
