.app-container {
  min-height: 100vh;
  width: 100vw;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.app-header {
  padding-top: 2rem;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.app-footer {
  margin-top: auto;
  padding: 2rem;
  color: #7f8c8d;
  font-size: 0.8rem;
}
.full-screen-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh; /* Takes up most of the viewport */
  width: 100vw;
  position: relative;
  padding-bottom: 5rem; /* Space for the chatbot */
  box-sizing: border-box;
}
/* ACTIVE MODE: Used for StringPanel or ArrayPanel */
.full-screen-main.panel-active {
  justify-content: flex-start; /* Push card to the left */
  padding-left: 5%; /* Give it some breathing room */
}

.selection-screen {
  text-align: center;
  animation: fadeIn 0.5s ease;
}

.choice-container {
  display: flex;
  gap: 2rem;
  margin-top: 0;
}

.choice-card {
  background: #0772d6;
  padding: 1rem;
  border-radius: 15px;
  cursor: pointer;
  transition:
    transform 0.2s,
    background 0.2s;
  border: 2px solid transparent;
  width: 250px;
  background: rgba(7, 114, 214, 0.9);
  backdrop-filter: blur(8px);
}
.choice-header {
  font-size: 1.5rem;
  color: #000000;
}

.choice-card:hover {
  transform: translateY(-10px);
  background: #00bdec;
  border-color: #3498db;
}

.back-btn {
  background: none;
  border: 1px solid #f2faff;
  color: #f2faff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
